apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: database-main

resources:
  - ../../base

namePrefix: dev-

patches:
  - target:
      kind: StatefulSet
      name: postgres
    patch: |
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: postgres
      spec:
        replicas: 1
        volumeClaimTemplates:
          - metadata:
              name: postgres-data
            spec:
              accessModes:
                - ReadWriteOnce
              storageClassName: hostpath
              resources:
                requests:
                  storage: 5Gi
  - target:
      kind: Service
      name: postgres
    patch: |
      apiVersion: v1
      kind: Service
      metadata:
        name: postgres
      spec:
        type: NodePort
        ports:
          - name: postgres
            port: 5432
            targetPort: 5432
            nodePort: 32222